@use '../../styles/resets.scss';
@use '../../styles/variables.scss' as *;

.tiers {
    &__wrapper {
        display: flex;
    }

    &__container {
        display: flex;
    }

    &__ranking-S {
        display: flex;
        background-color: $s-tier;
        padding: 0 2rem;
        align-items: center;
        justify-content: center;
        width: 3rem;
        border-radius: 8px;
        font-size: 4rem;
    }

    &__ranking-A {
        display: flex;
        background-color: $a-tier;
        padding: 0 2rem;        
        align-items: center;
        justify-content: center;
        width: 3rem;
        border-radius: 8px;
        font-size: 4rem;
    }

    &__ranking-B {
        display: flex;
        background-color: $b-tier;
        padding: 0 2rem;        
        align-items: center;
        justify-content: center;
        width: 3rem;
        border-radius: 8px;
        font-size: 4rem;
    }

     &__ranking-C {
        display: flex;
        background-color: $c-tier;
        padding: 0 2rem;        
        align-items: center;
        justify-content: center;
        width: 3rem;
        border-radius: 8px;
        font-size: 4rem;
    }

     &__ranking-D {
        display: flex;
        background-color: $d-tier;
        padding: 0 2rem;
        align-items: center;
        justify-content: center;
        width: 3rem;
        border-radius: 8px;
        font-size: 4rem;
    }

    &__subranking-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0.5rem;
        margin-left: .25rem;
    }

    &__subranking-row-container {
        display: flex;
    }

    &__subranking-icon {
        height: 1rem;
    }

    &__subranking-icon--neutral {
        height: 3rem;
    }

    &__subranking-S {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;;
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 8px;
        background-color: $s-tier;
    }

    &__subranking-A {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;;
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 8px;
        background-color: $a-tier;
    }

    &__subranking-B {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;;
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 8px;
        background-color: $b-tier;
    }

    &__subranking-C {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;;
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 8px;
        background-color: $c-tier;
    }

    &__subranking-D {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;;
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 8px;
        background-color: $d-tier;
    }
}