@use './typography.scss';

body, html, h2, h3, p {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    font-family: 'SmashFont', sans-serif;
    margin: 0;
}

*,
*::before,
*::after {   
    box-sizing: border-box; 
}  
